/* general */

:root {
	--color-primary: #000000;
	--color-share: #4bc800;
	--color-secondary: #222222;
	--color-tertiary: #4a4a4a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 1px solid red;
}

.tertiary{
    background-color: var(--color-tertiary);
}

/* main */
main{
    color:white;
    font-weight: 100;
    font-size: 0.8em;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    height: calc(100vh - 100px);
    background-color: var(--color-primary);
}

.navbar{
    background-color: var(--color-secondary);
    height: 90px;
}

.top-bar{
    position: absolute;
    top:5px;
    right:5px;
}

span .tertiary{
    padding: 5px;
    border-radius: 10px;
}

.tertiary:first-of-type{
    margin-right: 8px;
}

.fa-minimize{
    padding:5px;
    border-radius: 10px;
}