/* general */

:root {
	--color-primary: #000000;
	--color-share: #4bc800;
	--color-secondary: #222222;
	--color-tertiary: #4a4a4a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tertiary{
    background-color: var(--color-tertiary);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

/* main */
main{
    color:white;
    font-weight: 100;
    font-size: 0.8em;
    font-family: 'Noto Sans', sans-serif;
}

.container{
    height: calc(100vh - 100px);
    background-color: var(--color-primary);
    overflow-y: auto;
}

.navbar{
    background-color: var(--color-secondary);
    height: 100px;
}

.top-bar{
    position: absolute;
    top:5px;
    right:5px;
    z-index: 1000;
}

span .tertiary{
    padding: 5px;
    border-radius: 10px;
}

.tertiary:first-of-type{
    margin-right: 8px;
}

.fa-minimize{
    padding:5px;
    border-radius: 10px;
}

/* cards */

.card-wrapper{
    max-width: 90vw;
    margin: 0 auto;
    margin-top: 80px;

}

.card{
    padding:10px 5px;
    width: calc(100% / 7);
    overflow: hidden;
    position: relative;
}

img{
    display:block;
    width: 15vw;
    height: calc(15vw / 2);
    object-fit: cover;
}

.username{
    position: absolute;
    bottom: 10px;
    background-color: var(--color-tertiary);
    padding: 3px;
    font-size: 1.2em;
}

/* navbar */

.navbar{
    justify-content: space-between;
}

ul{
    list-style: none;
    padding-top: 20px;
}

li{
    padding: 0px 5px;
}

.space-between{
    justify-content: space-between;
}

li i {
    font-size: 2.3em;
    display: inline-block;
    text-align: center;
}

li p{
    padding-top: 15px;
}

.fa-caret-up{
    font-size: 1em;
    padding: 20px 8px;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    top:0;
    left: 25%
}

.bottom-right{
    color:red;
    background-color: var(--color-tertiary);
    height: 100%;
    padding: 20px;
    line-height: 55px;
}